// Import core styles
@import '../../node_modules/@tweakpane/core/lib/sass/plugin';

.#{$prefix}-pop_customv {
	background-color: var(--bs-bg);
	border-radius: 6px;
	box-shadow: 0 2px 10px #000000;
	display: none;
	max-width: 168px;
	padding: var(--cnt-v-p) var(--cnt-h-p);
	position: absolute;
	visibility: hidden;
	z-index: 1000;

	top: 105px;

	&#{&}-v {
		display: block;
		visibility: visible;
	}
}

// Additional style for the plugin
.#{$prefix}-gradientv {
	// Extend a general input view style
	@extend %input;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 117px;
	position: relative;
	
	background-color: var(--bs-bg) !important;

	&.#{$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_ar_cont {
		width: 154px;
		height: 20px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;

		margin-bottom: 3px;
	}
	&_edit_stops {
		cursor: pointer;
		background-color: var(--bs-bg);

		&:hover { background-color: var(--cnt-bg-h); }
		&:active { background-color: var(--cnt-bg-a); }
		&:focus { background-color: var(--cnt-bg-f); }

		width: 30px;
		height: 20px;

		border-radius: 4px;

		margin-right: 7px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		& > svg {
			height: 15px;
			fill: var(--lbl-fg);
		}
	}


	&_canvas_cont {
		background-color: var(--cnt-bg-a);
		
		width: 150px;
		height: 20px;

		padding: 2px;
		border-radius: 2px;
		
		margin-bottom: 14px;
	}
	&_canvas {}


	&_ctrl_cont {
		width: 154px;
		height: 20px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		margin-bottom: 7px;
	}
	&_cycle_idx {
		width: 45px;
		height: 20px;

		background-color: var(--cnt-bg);

		border-radius: 4px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&_cycle_idx_disp {
		
	}
	&_cycle_idx_btn {
		cursor: pointer;

		&:hover { background-color: var(--cnt-bg-h); }
		&:active { background-color: var(--cnt-bg-a); }
		&:focus { background-color: var(--cnt-bg-f); }

		width: 7px;
		padding: 0px 3px;
		height: 20px;

		border-radius: 4px;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		& > svg {
			max-width: 7px;
			fill: var(--in-fg);
		}
	}
	&_set_pos {

		width: 98px;
		height: 20px;

		border-radius: 4px;

		display: flex;
		flex-direction: row;
		align-items: center;
	}
	&_set_pos_label {
		margin-right: 3px;
	}

	&_col_cont {
		background-color: var(--cnt-bg);

		&:hover { background-color: var(--cnt-bg-h); }
		&:active { background-color: var(--cnt-bg-a); }
		&:focus { background-color: var(--cnt-bg-f); }

		cursor: pointer;
		
		width: 146px;
		height: 16px;

		padding: 4px;
		border-radius: 4px;
		margin-bottom: 7px;

		position: relative;
	}
	&_stop_color_view {
		width: 100%;
		height: 20px;
	}
	&_stop_color_input {
		position: absolute;
		left: -100%;
		top: -100%;
	}
}
