// Import core styles
@import '../../node_modules/@tweakpane/core/lib/sass/plugin';

// Additional style for the plugin
.#{$prefix}-gradientv {
	// Extend a general input view style
	@extend %input;

	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: calc(var(--bld-us) * 3);
	overflow: hidden;
	position: relative;

	&.#{$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_canvas_cont {
		background-color: var(--in-bg);
		
		width: 140px;
		height: 20px;

		padding: 2px;
		border-radius: 2px;
		border: 1px solid var(--in-fg)
	}
	&_canvas {

	}
}
